.container{
   
    display: flex;
    justify-content: space-evenly;
}
.category{
    height: 170px ;
    width: 170px;
    border:none;
    border-radius: 20px;

}
.head{
    text-align:center;
    font-size: 30px;
}
.offer{
    background-color: rgb(251, 129, 190);
    display: block;
    justify-content: space-around;
    padding:10px;
    color:rgb(65, 13, 13);
    width: 400px;
    border:1px solid palevioletred;
    border-radius: 5px;
}
.off{

}
.first{
    background-color: rgb(223, 168, 255);
    padding: 3px 0px;
    padding-bottom: 15px;
    height:300px;
}
.category-name{
    text-align:center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:40px;
}