.container{
    width: 400px ;
    display: inline;
    justify-content: space-between;
}
.category{
    height: 100px ;
    width: 100px;
    border:none;
    border-radius: 20px;
}
.head{
    text-align:center;
}
.offer{
    background-color: rgb(251, 129, 190);
    padding:10px;
    color:rgb(65, 13, 13);
    width: 400px;
    border:1px solid palevioletred;
    border-radius: 5px;
}
.off{

}